:root{
    --backgroud-dark: #202124;
    --grey-dark-1: #E8E8D3;
    --grey-dark-2: #CFCFBB;
    --grey-dark-3: #B5B5A4;
    --grey-dark-4: #9C9C8D;
    --grey-dark-5: #8A8A7D;
    --primary-dark-1: #D66D22;
    --primary-dark-2: #F0883F;
    --primary-dark-3: #FFA05C;
    --secondary-dark-1:#3EE1F0;
    --secondary-dark-2: #0A96A3;

    --backgroud-light: #F2F2F2;
    --grey-light-1: #6E6E64;
    --grey-light-2: #53534B;
    --grey-light-3: #383833;
    --grey-light-4: #1D1D1B;
    --grey-light-5: #030302;
    --primary-light-1: #D66D22;
    --primary-light-2: #F0883F;
    --primary-light-3: #FFA05C;
    --secondary-light-1:#3EE1F0;
    --secondary-light-2: #0A96A3;

    --backgroud-color: var(--backgroud-dark);
    --grey-1: var(--grey-dark-1);
    --grey-2: var(--grey-dark-2);
    --grey-3: var(--grey-dark-3);
    --grey-4: var(--grey-dark-4);
    --grey-5: var(--grey-dark-5);
    --primary-dark: var(--primary-dark-1);
    --primary-normal: var(--primary-dark-2);
    --primary-light: var(--primary-dark-3);
    --secondary-light:var(--secondary-dark-1);
    --secondary-dark:var(--secondary-dark-2);
}
