<div class="container">
  <div class="top-session">
    <app-master-shield />
  </div>
  <div class="middle-session">
    <div class="roll-dice-list">
      <app-roll-dice-list/>
    </div>
    <div class="war-zone">
      <app-war-zone/>
    </div>
    <div class="player-sheet">
      <app-player-sheet/>
    </div>
  </div>
  <div class="bottom-session">
    <app-player-shield-list/>
  </div>
</div>
