<div class="container">
  <p-scrollPanel [style]="{ width: '100%', height: '60vh'}" >
    @for (rollDice of rollDiceList; track $index) {
      <app-roll-dice [rollDice] = rollDice />
    }
  </p-scrollPanel>
</div>
