@import './sass/';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --backgroud-color: var(--backgroud-dark);
    --grey-1: var(--grey-dark-1);
    --grey-2: var(--grey-dark-2);
    --grey-3: var(--grey-dark-3);
    --grey-4: var(--grey-dark-4);
    --grey-5: var(--grey-dark-5);
    --primary-dark: var(--primary-dark-1);
    --primary-normal: var(--primary-dark-2);
    --primary-light: var(--primary-dark-3);
    --secondary-light:var(--secondary-dark-1);
    --secondary-dark:var(--secondary-dark-2);
}

:root .light-theme{
    --backgroud-color: var(--backgroud-light);
    --grey-1: var(--grey-light-1);
    --grey-2: var(--grey-light-2);
    --grey-3: var(--grey-light-3);
    --grey-4: var(--grey-light-4);
    --grey-5: var(--grey-light-5);
    --primary-dark: var(--primary-light-1);
    --primary-normal: var(--primary-light-2);
    --primary-light: var(--primary-light-3);
    --secondary-light:var(--secondary-light-1);
    --secondary-dark:var(--secondary-light-2);
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Libre Baskerville", serif;
    background-color: var(--backgroud-color);
    color: var(--grey-3);
    font-weight: 400;
    font-size: rem-calc(24);
}
