<div class="container">
    <div class="resume">
      <div class="player-name">
        {{rollDice.nomePlayer}}
      </div>
      <p>{{rollDice.nomePericia}}</p>
      <p>{{rollDice.formula}}</p>
    </div>
    <div class="final-result">
      <div class="title-large">{{rollDice.resultadoFinal}}</div>
    </div>
</div>
